:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFf;
    --ternary:#898989;
    --light:#F2F2F2;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialaised
}

header{
    background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 90%,70% 87%,0 100%);

}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;

margin-top: 50rem;
    

}
header nav .left a:hover{
    color: var(--primary);
        
}



header nav .logo{
    margin-right: 4rem;
   
}
.hero img{
    
}
.hero .right{
    color: var(--pure);
    margin-top: -7rem;
}
.hero .right h6{
    font-size: 1.6rem;
    color: red;
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size:4rem ;
    font-weight: 100;
    margin-bottom: 2rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 2rem;
}

section{
    padding: 6rem 0;
}
section .aboutmeimg{
   margin-left: 5rem;

}
.ltext h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;


}
.ltext h1 span{
    color: var(--primary);
}
.ltext h3{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.ltext p{
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 0.9rem;
}
.ltext .social{
    display: flex;

}
.ltext .social a{
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .3s ease;

}
.ltext .social a:hover {
 transform: scale(1.5); 
 margin-right: 2rem;
 margin-left: 2rem;
 background-color: wheat;
 transition: all 0.3s ease;
 
 

}
.about .container{
    height: 100;
}
.sectionheading{
    color: black;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    font-size: xxx-large;
    margin-bottom: 2rem;
}
.sectionheading + p{
    color: var(--ternary);
    margin-bottom: 6rem;
    text-align: center;
}
.sectionheading span{
    color: var(--primary);
}
section.services .cardcollection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  

}
section.services{
    background:  #e0e0e0 
}
section.services .card{
    background-color:white;

    padding: 3rem 2rem;
    position: relative;
    padding-top: 6rem;
    text-align: center;
    transition: all .3s ease;
    
    
}
section.services .card p{
    color: white
}
section.services .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;

}
section.services .card:hover{
    background: black;
   
    cursor: pointer;
    
}
section.services .card img:hover{
    transform: scale(1.2);
    transition:all .3s ease;
    cursor: pointer;
}
section.about{
     background: var(--dark);
    clip-path: polygon(0 0,100% 0,100% 90%,70% 92%,0 100%);
}
section.services .card span{
    color: var(--primary);
}
.ltext h1,h3,p{
    color: white;
}
section.services .card h2{
    color: red ;
    margin-bottom: 6rem;
       
}
@media  screen and (max-width:768px) {

    nav .left .link{
        display: none;
    }

  
    
    section.services .cardcollection{
    display: grid;
    grid-template-columns:1fr;
    grid-column-gap: 2rem;
    
   

}
section.services .cardcollection .card{
    height: auto;
    width: auto;
}
.hero img{
 width: 15vh;
 height: 20vh; 
 margin-left: 0;
 padding-left: 0;  
}
.hero .right h6{
    font-size: 2rem;
    color: red;
    margin-bottom: 0.5rem;
    margin-right: 0.3rem;
     margin-left: -1rem;
     font-weight: 600;
     margin-top: 1rem;
}
.hero .right h1{
    font-size:1.5rem ;
    font-weight: 600;
    margin-bottom: 0.6rem;
    margin-left: -1rem;
}
.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
    line-height: 1.3rem;
    margin-bottom: 0.9rem;
    margin-left: -1rem;
}
.right .btn1{
    display: none;
}
.right .btn2{
    height: 3rem;
    width: 9rem;
    font-size: 0.9rem;
    position: relative;
    left: 1rem;
    padding: 0;
    margin-bottom: 2rem;
   
}
.limage .aboutmeimg{
    margin-left: 1rem;
}
.left .logo img{
    margin-left: -12rem;
    top: 0;
    height: 7rem;
    width: 7rem;
   
  

}
header .container{
    height: 35rem;
}





    

}



